In [1]:
import pandas as pd
import numpy as np

In [9]:
print('loading files...')
dataset = pd.read_csv('total.csv', na_values=-1)
dataset.head()

loading files...

,Country.Name (imo.csv),Country.Name,Indicator.Code (edustats indicators.csv),Indicator.Code,Indicator.Name,Mean.Rank,Number of Records,Value
0,Kosovo,Kosovo,LO.PASEC.REA.6.P90,LO.PASEC.REA.6.P90,PASEC: Distribution of 6th grade reading score...,85.0,1,NaN
1,Kosovo,Kosovo,LO.PASEC.REA.6.P95,LO.PASEC.REA.6.P95,PASEC: Distribution of 6th grade reading score...,85.0,1,NaN
2,Kosovo,Kosovo,LO.PASEC.REA.6.P99,LO.PASEC.REA.6.P99,PASEC: Distribution of 6th grade reading score...,85.0,1,NaN
3,Kosovo,Kosovo,LO.PASEC.FRE5.FE,LO.PASEC.FRE5.FE,PASEC: Mean performance on the French language...,85.0,1,NaN
4,Kosovo,Kosovo,LO.PASEC.FRE5.MA,LO.PASEC.FRE5.MA,PASEC: Mean performance on the French language...,85.0,1,NaN

In [10]:
dataset.shape

(365620, 8)

In [4]:
dataset['Mean.Rank'].describe()

count    365620.000000
mean         54.648416
std          29.864960
min           1.630000
25%          27.750000
50%          52.380000
75%          80.130000
max         110.000000
Name: Mean.Rank, dtype: float64

In [11]:
data2=dataset.dropna()

In [12]:
data2.shape

(185402, 8)

In [13]:
data2.head(10)

,Country.Name (imo.csv),Country.Name,Indicator.Code (edustats indicators.csv),Indicator.Code,Indicator.Name,Mean.Rank,Number of Records,Value
497,Kosovo,Kosovo,SP.POP.GROW,SP.POP.GROW,Population growth (annual %),85.0,1,1.893806e-01
609,Kosovo,Kosovo,SP.POP.0014.TO.ZS,SP.POP.0014.TO.ZS,"Population, ages 0-14 (% of total)",85.0,1,2.747748e+01
610,Kosovo,Kosovo,SP.POP.0014.FE.IN,SP.POP.0014.FE.IN,"Population, ages 0-14, female",85.0,1,2.339580e+05
611,Kosovo,Kosovo,SP.POP.0014.MA.IN,SP.POP.0014.MA.IN,"Population, ages 0-14, male",85.0,1,2.539540e+05
612,Kosovo,Kosovo,SP.POP.0014.TO,SP.POP.0014.TO,"Population, ages 0-14, total",85.0,1,4.879120e+05
673,Kosovo,Kosovo,SP.POP.1564.TO.ZS,SP.POP.1564.TO.ZS,"Population, ages 15-64 (% of total)",85.0,1,6.587838e+01
674,Kosovo,Kosovo,SP.POP.1564.FE.IN,SP.POP.1564.FE.IN,"Population, ages 15-64, female",85.0,1,5.588990e+05
675,Kosovo,Kosovo,SP.POP.1564.MA.IN,SP.POP.1564.MA.IN,"Population, ages 15-64, male",85.0,1,6.108900e+05
676,Kosovo,Kosovo,SP.POP.1564.TO,SP.POP.1564.TO,"Population, ages 15-64, total",85.0,1,1.169789e+06
719,Kosovo,Kosovo,SP.POP.TOTL.FE.IN,SP.POP.TOTL.FE.IN,"Population, female",85.0,1,8.618450e+05

In [14]:
data2=data2.drop(["Number of Records","Country.Name (imo.csv)","Indicator.Code (edustats indicators.csv)","Indicator.Name"],axis=1)
data2.head()

    Country.Name     Indicator.Code  Mean.Rank          Value
497       Kosovo        SP.POP.GROW       85.0       0.189381
609       Kosovo  SP.POP.0014.TO.ZS       85.0      27.477477
610       Kosovo  SP.POP.0014.FE.IN       85.0  233958.000000
611       Kosovo  SP.POP.0014.MA.IN       85.0  253954.000000
612       Kosovo     SP.POP.0014.TO       85.0  487912.000000

In [19]:
data3=data2.pivot_table(index='Country.Name', columns='Indicator.Code', values='Value', aggfunc='count')
data3=data3.dropna(axis=1, how='any')
data3

Indicator.Code,NY.GDP.MKTP.CD,NY.GDP.PCAP.CD,NY.GNP.MKTP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL
Country.Name,,,,,,
Albania,1.0,1.0,1.0,1.0,1.0,1.0
Algeria,1.0,1.0,1.0,1.0,1.0,1.0
Argentina,1.0,1.0,1.0,1.0,1.0,1.0
Armenia,1.0,1.0,1.0,1.0,1.0,1.0
Australia,1.0,1.0,1.0,1.0,1.0,1.0
Austria,1.0,1.0,1.0,1.0,1.0,1.0
Azerbaijan,1.0,1.0,1.0,1.0,1.0,1.0
Bangladesh,1.0,1.0,1.0,1.0,1.0,1.0
Belarus,1.0,1.0,1.0,1.0,1.0,1.0
Belgium,1.0,1.0,1.0,1.0,1.0,1.0
Bolivia,1.0,1.0,1.0,1.0,1.0,1.0
Bosnia and Herzegovina,1.0,1.0,1.0,1.0,1.0,1.0
Botswana,1.0,1.0,1.0,1.0,1.0,1.0
Brazil,1.0,1.0,1.0,1.0,1.0,1.0
Bulgaria,1.0,1.0,1.0,1.0,1.0,1.0
Cambodia,1.0,1.0,1.0,1.0,1.0,1.0
Canada,1.0,1.0,1.0,1.0,1.0,1.0
Chile,1.0,1.0,1.0,1.0,1.0,1.0
China,1.0,1.0,1.0,1.0,1.0,1.0
Colombia,1.0,1.0,1.0,1.0,1.0,1.0
Costa Rica,1.0,1.0,1.0,1.0,1.0,1.0
Croatia,1.0,1.0,1.0,1.0,1.0,1.0
Cuba,1.0,1.0,1.0,1.0,1.0,1.0
Cyprus,1.0,1.0,1.0,1.0,1.0,1.0
Czech Republic,1.0,1.0,1.0,1.0,1.0,1.0
Denmark,1.0,1.0,1.0,1.0,1.0,1.0
Ecuador,1.0,1.0,1.0,1.0,1.0,1.0
Egypt,1.0,1.0,1.0,1.0,1.0,1.0
El Salvador,1.0,1.0,1.0,1.0,1.0,1.0
Estonia,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...
Philippines,1.0,1.0,1.0,1.0,1.0,1.0
Poland,1.0,1.0,1.0,1.0,1.0,1.0
Portugal,1.0,1.0,1.0,1.0,1.0,1.0
Puerto Rico,1.0,1.0,1.0,1.0,1.0,1.0
Romania,1.0,1.0,1.0,1.0,1.0,1.0
Russia,1.0,1.0,1.0,1.0,1.0,1.0
Saudi Arabia,1.0,1.0,1.0,1.0,1.0,1.0
Serbia,1.0,1.0,1.0,1.0,1.0,1.0
Singapore,1.0,1.0,1.0,1.0,1.0,1.0
Slovenia,1.0,1.0,1.0,1.0,1.0,1.0
South Africa,1.0,1.0,1.0,1.0,1.0,1.0
South Korea,1.0,1.0,1.0,1.0,1.0,1.0
Spain,1.0,1.0,1.0,1.0,1.0,1.0
Sri Lanka,1.0,1.0,1.0,1.0,1.0,1.0
Sweden,1.0,1.0,1.0,1.0,1.0,1.0
Switzerland,1.0,1.0,1.0,1.0,1.0,1.0
Tajikistan,1.0,1.0,1.0,1.0,1.0,1.0
Tanzania,1.0,1.0,1.0,1.0,1.0,1.0
Thailand,1.0,1.0,1.0,1.0,1.0,1.0
Trinidad and Tobago,1.0,1.0,1.0,1.0,1.0,1.0
Tunisia,1.0,1.0,1.0,1.0,1.0,1.0
Turkey,1.0,1.0,1.0,1.0,1.0,1.0
Turkmenistan,1.0,1.0,1.0,1.0,1.0,1.0
Uganda,1.0,1.0,1.0,1.0,1.0,1.0
Ukraine,1.0,1.0,1.0,1.0,1.0,1.0
United Kingdom,1.0,1.0,1.0,1.0,1.0,1.0
United States,1.0,1.0,1.0,1.0,1.0,1.0
Uruguay,1.0,1.0,1.0,1.0,1.0,1.0
Uzbekistan,1.0,1.0,1.0,1.0,1.0,1.0
Vietnam,1.0,1.0,1.0,1.0,1.0,1.0

In [20]:
# print(data2.groupby('Country.Name').agg(['mean', 'std', 'count']))

In [35]:
imoscore=pd.read_csv('Data/imo.csv')
imoscore.head()
combine=data3.merge(imoscore,  left_index=True, right_on='Country.Name', how='inner')
combine.head()

,NY.GDP.MKTP.CD,NY.GDP.PCAP.CD,NY.GNP.MKTP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL,Country.Name,Mean.Rank
0,1.0,1.0,1.0,1.0,1.0,1.0,Albania,79.83
1,1.0,1.0,1.0,1.0,1.0,1.0,Algeria,72.33
2,1.0,1.0,1.0,1.0,1.0,1.0,Argentina,50.00
3,1.0,1.0,1.0,1.0,1.0,1.0,Armenia,43.88
4,1.0,1.0,1.0,1.0,1.0,1.0,Australia,19.75

In [37]:
combine=combine[['Country.Name','NY.GDP.MKTP.CD','NY.GDP.PCAP.CD','NY.GNP.MKTP.CD','NY.GNP.PCAP.CD','SP.POP.GROW','SP.POP.TOTL','Mean.Rank']]
combine.head()

KeyError: "['NY.GNP.PCAP.CD'] not in index"